:root {
  --header-before-bg: #09090987;
  --main-color: #fff9e6;
  --main-red: #ba0001;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "PT Sans Caption", sans-serif;
  /* transition: all 3s; */
  outline: none;
}
*:hover {
  /* cursor: url(/images/svg/paw.svg), auto !important; */
}
a {
  text-decoration: none;
  color: black;
}

button {
  cursor: pointer;
}

body {
  /* cursor: url(/images/svg/paw.svg), auto; */
  min-width: 320px;
  background-color: var(--main-color);
  padding: 10px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  scroll-behavior: smooth;
}

section {
  width: 100%;
  max-width: 1850px;
  overflow: hidden;
  margin-bottom: 140px;
}
/* header start ============================================================================*/
.header_container {
  width: 100vw;
  /* background-color: #858585; */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  position: fixed;
  top: 0;
  z-index: 10;
}
header {
  width: 572px;
  height: 72px;
}
header > img {
  position: absolute;
  /* top: 0; */
  left: 50%;
  transform: translateX(-50%);
  z-index: 5;
  pointer-events: none;
}

.header_elements {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 39px;
  padding-right: 42px;
  justify-content: flex-start;
  gap: 30px;
}

.header_elements > a {
  width: 71px;
  font-size: 18px;
  font-weight: 400;
  padding-left: 5px;
  color: #0d0d0d;
  position: relative;
  z-index: 6;
}

/* hamburger menu start */
.hamburger {
  height: max-content;
  position: relative;
}
.hamburger::before {
  content: "";
  display: block;
  width: 65px;
  height: 62px;
  border-radius: 50%;
  background-color: var(--header-before-bg);
  position: absolute;
  top: -20px;
  left: -17px;
  z-index: -1;
}
.hamburger .line {
  width: 31px;
  height: 2px;
  background-color: #ecf0f1;
  display: block;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.hamburger:hover {
  cursor: pointer;
}

/* hamburger menu end */

/* nav start */

nav {
  width: 325px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
}

nav > a {
  width: 65px;
  font-size: 18px;
  font-weight: 400;
  color: var(--main-color);
  text-align: center;
  position: relative;
  z-index: 3;
}
nav::before {
  content: "";
  display: block;
  width: 325px;
  height: 61px;
  border-radius: 50px;
  background-color: var(--header-before-bg);
  position: absolute;
  left: -0;
  z-index: -1;
}

/* nav end */

.nav_conatainer {
  display: none;
  width: 100vw;
  max-width: unset;
  height: 100vh;
  position: fixed;
  top: 0;
  /* left: 0; */
  right: 0;
  z-index: 20;
  background-color: var(--main-color);
  /* background-color: rgba(2, 4, 3, 0.5); */
  overflow: hidden;
  margin: unset;
  padding: 60px;
}

.nav_conatainer.active {
  display: block;
}
body.active {
  overflow: hidden;
}

.nav_content {
  width: 100%;
  height: 100%;
  border-radius: 80px;
  background-color: var(--main-red);
  /* position: relative; */
  padding: 50px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
.nav_content_top {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}
.nav_content_top > button {
  background-color: transparent;
  padding: 10px 30px;
  border-radius: 50px;
  border: var(--main-color) 1px solid;
  font-size: 16px;
  color: var(--main-color);
  cursor: pointer;
}

.close_button {
  background-color: var(--main-color);
  padding: 10px 70px;
  border-radius: 50px;
  border: var(--main-color) 1px solid;
  font-size: 16px;
  color: black;
  cursor: pointer;
}
.nav_content_mid {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  gap: 35px;
}

.nav_content_bot {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

.header_social_media {
  /* width: 100%; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  gap: 20px;
  font-size: 16px;
}

.header_social_media > a {
  color: var(--main-color);
}

.header_language {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  gap: 20px;
  color: var(--main-color);
}

.header_language p:nth-child(2) {
  opacity: 0.6;
}
/* header end ============================================================================*/

/* banner start ============================================================================*/

.banner_container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  gap: 15px;
  margin-bottom: 10px;
  /* max-height: 950px; */
}
.banner_container img {
  width: 100%;
  height: 100%;
  max-height: 950px;
  object-fit: cover;
  border-radius: 88px;
}

.banner_element {
  width: 100%;
  height: 100%;
  /* max-height: 1000px; */
  position: relative;
}
.banner_element svg {
  width: 100%;
  position: absolute;
  z-index: 5;
  bottom: 40px;
  left: 0;
}

/* banner end ============================================================================*/

/* second banner start ============================================================================*/
.second_banner {
  width: 100%;
  height: max-content;
  max-height: 1000px;
  position: relative;
}

.second_banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 88px;
}
.second_banner svg {
  width: 100%;
  height: min-content;
  position: absolute;
  bottom: 0;
  left: 0;
}

.second_banner_info {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 24px;

  position: absolute;
  bottom: 70px;
}

.second_banner_info span {
  background-color: var(--main-color);
  padding: 15px;

  border-radius: 100px;
}
.second_banner_info span:last-child {
  background-color: var(--main-red);
}
/* second banner end ============================================================================*/

/* animated banner start ============================================================================*/
@keyframes loop {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
.animated_banner {
  width: 100%;
  height: 100%;
  max-height: 580px;
  position: relative;
  background-color: var(--main-color);
  background-image: url(/images/svg/banner_5.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
.animated_banner > img {
  height: 100%;
  padding: 40px 0;
  max-width: 472px;
  float: right;
}
.moving_baner {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 0;
  animation-name: loop;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-duration: 20s;
}

.moving_baner.second {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  position: absolute;
  bottom: 0;
  animation-direction: reverse;
}

/* animated banner end ============================================================================*/
/* gallery start ============================================================================*/

.gallery {
  text-align: center;
}

.gallery > img {
  width: 100%;
  max-width: 1105px;
}
.gallery > p {
  font-size: 22px;
  margin: 70px 0;
}

.gallery_elements {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(456px, 1fr));
  gap: 10px;
}
.gallery_element {
  width: 100%;
  height: 100%;
  max-height: 610px;
  background-color: #020403;
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1;
  border-radius: 80px;
  position: relative;

  transition: transform 1s, scale 1s;
}
.gallery_element > img {
  width: min-content;
  height: min-content;
  transition: all;
  position: relative;
  z-index: 1;

  transition: transform 1s, scale 1s;
}
.gallery_element:hover {
  transform: rotate(3deg);
  scale: 0.95;
}
.gallery_element:hover > img {
  transform: rotate(-3deg);
}
.gallery_element:nth-child(odd):hover {
  transform: rotate(-3deg);
  scale: 0.95;
}
.gallery_element:nth-child(odd):hover > img {
  transform: rotate(3deg);
}

.gallery_element .dot:nth-child(1) {
  position: absolute;
  top: 70px;
  left: 70px;
}
.gallery_element .dot:nth-child(2) {
  position: absolute;
  top: 70px;
  right: 70px;
}
.gallery_element .dot:nth-child(4) {
  position: absolute;
  bottom: 70px;
  left: 70px;
}
.gallery_element .dot:nth-child(5) {
  position: absolute;
  bottom: 70px;
  right: 70px;
}

.dot {
  width: 20px;
  height: 20px;
  background-color: var(--main-color);
  border-radius: 50%;
  z-index: 10;
}

/* gallery  end ============================================================================*/

/* about wine start ============================================================================*/

.about_wine {
  width: 100vw;
  max-width: unset;
  text-align: center;
  background-color: var(--main-red);
  padding: 140px 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about_wine_container {
  width: 100%;
  max-width: 1850px;
}

.about_wine_container > img {
  width: 100%;
  max-width: 856px;
  margin-bottom: 100px;
}

.about_wine_info {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(611px, 1fr));
  gap: 10px;
}

.about_wine_info .about_wine_info_element:nth-child(1),
.about_wine_info .about_wine_info_element:nth-child(4) {
  padding: 120px;
}

.about_wine_info_element {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: var(--main-color);
  border-radius: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  aspect-ratio: 1 / 0.9;
}
.about_wine_info_element > div {
  max-width: 335px;
  text-align: start;
  font-size: 36px;
}
.about_wine_info_element > p {
  /* max-width: 335px; */
  max-height: 460px;
  text-align: start;
  font-size: 22px;
  overflow: scroll;
}
.about_wine_info_element > img {
  width: 100%;
  height: 100%;
  border-radius: 80px;
  object-fit: cover;
}

.dot {
  width: 20px;
  height: 20px;
  background-color: var(--main-color);
  border-radius: 50%;
}
.dot_black {
  width: 20px;
  height: 20px;
  background-color: var(--main-red);
  border-radius: 50%;
}

.about_wine_info_element .dot_black:nth-child(1) {
  position: absolute;
  top: 70px;
  left: 70px;
}
.about_wine_info_element .dot_black:nth-child(2) {
  position: absolute;
  top: 70px;
  right: 70px;
}
.about_wine_info_element .dot_black:nth-child(5) {
  position: absolute;
  bottom: 70px;
  left: 70px;
}
.about_wine_info_element .dot_black:nth-child(6) {
  position: absolute;
  bottom: 70px;
  right: 70px;
}

/* about wine end ============================================================================*/

/* request info start ============================================================================*/

.request_info {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.request_info > p {
  width: 100%;
  max-width: 805px;
  text-align: center;
  font-size: 22px;
  font-weight: 400;
  margin-top: 60px;
  margin-bottom: 70px;
}

.request_info > form {
  width: 100%;
  max-width: 1850px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.request_info > form input {
  width: 100%;
  padding: 7px 10px;
  background-color: transparent;
  border: none;
  font-size: 16px;
  font-weight: 400;
  border-bottom: black 1px solid;
}

.top_inputs {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, minmax(45%, 1fr));
  gap: 10px;
}

.request_info > form > button {
  width: 100%;
  border: none;
  padding: 20px;
  border-radius: 50px;
  background-color: var(--main-red);
  color: var(--main-color);
  font-size: 20px;
  font-weight: 400;
}

/* request info end ============================================================================*/

/* footer start ============================================================================*/

footer {
  width: 100%;
  height: 100%;
  max-height: 580px;
  overflow: hidden;
  position: relative;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 40px 0;
  background-color: var(--main-color);
}
footer > img {
  display: inline-block;
  width: 100%;
  max-width: 995px;
  height: 100%;
  max-height: 500px;
  /* position: relative; */
  /* right: 0; */
}

.footer_links {
  width: 100%;
  max-width: 750px;
  padding: 35px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 5;
}

.footer_menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}
.footer_menu > div {
  color: var(--main-red);
  font-size: 22px;
}
.footer_menu > a {
  color: #020403;
  font-size: 18px;
}

/* footer end ============================================================================*/

/* past events start */

.body_past_events {
  background-color: #020403;
  margin-top: 200px;
}

.past_events_container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 100px;
}
.past_events_container > img {
  width: 100%;
  max-width: 1100px;
}

.past_events {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(456px, 1fr));
  gap: 10px;
}
.past_event {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.past_event h4 {
  font-size: 22px;
  color: var(--main-color);
  margin-top: 24px;
  margin-bottom: 12px;
}
.past_event > p {
  font-size: 18px;
  color: var(--main-red);
}

.past_event img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 80px;
}
/* past events end */
