:root {
  --header-before-bg: #9f9f9f;
  --white: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "PT Sans Caption", sans-serif;
}

a {
  text-decoration: none;
}

body {
  min-width: 320px;
  background-color: #707070;
  padding: 10px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 300vh;
}

section {
  max-width: 1850px;
}
/* header start ============================================================================*/
.header_container {
  width: 100vw;
  /* background-color: #858585; */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  position: fixed;
  top: 0;
  z-index: 10;
}
header {
  width: 572px;
  height: 72px;
  background-image: url(/images/Vector.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.header_elements {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 39px;
  padding-right: 42px;
  justify-content: flex-start;
  gap: 30px;
}

.header_elements > a {
  width: 71px;
  font-size: 18px;
  font-weight: 400;
  padding-left: 5px;
  color: #0d0d0d;
}

/* hamburger menu start */
.hamburger {
  height: max-content;
  position: relative;
}
.hamburger::before {
  content: "";
  display: block;
  width: 65px;
  height: 62px;
  border-radius: 50%;
  background-color: var(--header-before-bg);
  position: absolute;
  top: -20px;
  left: -17px;
  z-index: -1;
}
.hamburger .line {
  width: 31px;
  height: 2px;
  background-color: #ecf0f1;
  display: block;
  margin: 4px auto;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.hamburger:hover {
  cursor: pointer;
}

/* ONE */

#hamburger-1.is-active .line:nth-child(2) {
  opacity: 0;
}

#hamburger-1.is-active .line:nth-child(1) {
  -webkit-transform: translateY(4px) rotate(45deg);
  -ms-transform: translateY(4px) rotate(45deg);
  -o-transform: translateY(4px) rotate(45deg);
  transform: translateY(4px) rotate(45deg);
}

#hamburger-1.is-active .line:nth-child(3) {
  -webkit-transform: translateY(-8px) rotate(-45deg);
  -ms-transform: translateY(-8px) rotate(-45deg);
  -o-transform: translateY(-8px) rotate(-45deg);
  transform: translateY(-8px) rotate(-45deg);
}
/* hamburger menu end */

/* nav start */

nav {
  width: 325px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
}

nav > a {
  width: 65px;
  font-size: 18px;
  font-weight: 400;
  color: #fff9e6;
  text-align: center;
  position: relative;
  z-index: 3;
}
nav > a::before {
  content: "";
  display: block;
  width: 110px;
  height: 61px;
  border-radius: 50px;
  background-color: var(--header-before-bg);
  position: absolute;
  top: -20px;
  left: -23px;
  z-index: -1;
}
nav > a:nth-child(1)::before {
  left: -22px;
}
nav > a:nth-child(3)::before {
  left: -25px;
}

/* nav end */
/* header end ============================================================================*/

/* banner start ============================================================================*/

.banner_container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  gap: 15px;
  margin-bottom: 10px;
}
.banner_container img {
  width: 100%;
  height: 100%;
  max-height: 1000px;
  object-fit: cover;
  border-radius: 88px;
}

.banner_element {
  width: 100%;
  height: 100%;
  max-height: 1000px;
  position: relative;
}
.banner_element svg {
  width: 100%;
  position: absolute;
  z-index: 5;
  bottom: 40px;
  left: 0;
}

/* banner end ============================================================================*/

/* second banner start ============================================================================*/
.second_banner {
  width: 100%;
  height: max-content;
  max-height: 1000px;
  position: relative;
}

.second_banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 88px;
}
.second_banner svg {
  width: 100%;
  height: min-content;
  position: absolute;
  bottom: 0;
  left: 0;
}

.second_banner_info {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 24px;

  position: absolute;
  bottom: 70px;
}

.second_banner_info span {
  background-color: #fff9e6;
  padding: 15px;

  border-radius: 100px;
}
.second_banner_info span:last-child {
  background-color: #ba0001;
}
/* second banner end ============================================================================*/
