:root {
  --header-before-bg: #09090987;
  --main-color: #fff9e6;
  --main-red: #ba0001;

  --width-related: calc(10px + 5vw);

  --width-related-dots: 4vw;
  --width-related-dots-black: 3.3vw;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "PT Sans Caption", sans-serif;
  /* outline: auto; */
}
*:hover {
  /* cursor: url(/images/svg/paw.svg), auto !important; */
}

html {
  scroll-behavior: smooth;
}

body {
  /* cursor: url(/images/svg/paw.svg), auto; */
  max-width: 1920px;
  min-width: 320px;
  background-color: var(--main-color);
  padding: 10px 30px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  scroll-behavior: smooth;
  overflow-x: hidden;

  transition: padding 1s ease-in-out;
}

section {
  width: 100%;
  max-width: 1850px;
  overflow: hidden;
  margin-bottom: 7.3vw;
}

a {
  text-decoration: none;
  color: black;
}

button {
  cursor: pointer;
}

input:focus,
button:focus {
  outline: none;
}

img {
  display: block;
  user-select: none;
  -moz-user-select: none;
}
/* header start ============================================================================*/
#header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header_container {
  width: 100%;
  /* background-color: #858585; */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  position: fixed;
  top: 0;
  z-index: 19;
}
header {
  width: 572px;
  height: 72px;
}
header > img {
  position: absolute;
  /* top: 0; */
  left: 50%;
  transform: translateX(-50%);
  z-index: 5;
  pointer-events: none;
}

.header_elements {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 39px;
  padding-right: 42px;
  justify-content: flex-start;
  gap: 30px;
}

.header_logo {
  display: none;
}

.header_elements > a {
  width: 71px;
  font-size: 18px;
  font-weight: 400;
  padding-left: 5px;
  color: #0d0d0d;
  position: relative;
  z-index: 6;
}

/* hamburger menu start */
.hamburger {
  height: max-content;
  position: relative;
}
.hamburger::before {
  content: "";
  display: block;
  width: 65px;
  height: 62px;
  border-radius: 50%;
  background-color: var(--header-before-bg);
  position: absolute;
  top: -20px;
  left: -17px;
  z-index: -1;
}
.hamburger .line {
  width: 31px;
  height: 2px;
  background-color: #ecf0f1;
  display: block;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.hamburger:hover {
  cursor: pointer;
}

/* hamburger menu end */

/* nav start */

nav {
  width: 325px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
}

nav > a {
  width: 65px;
  font-size: 18px;
  font-weight: 400;
  color: var(--main-color);
  text-align: center;
  position: relative;
  z-index: 3;
}
nav::before {
  content: "";
  display: block;
  width: 325px;
  height: 61px;
  border-radius: 50px;
  background-color: var(--header-before-bg);
  position: absolute;
  left: -0;
  z-index: -1;
}

/* nav end */

.nav_conatainer {
  display: none;
  width: 100vw;
  max-width: unset;
  height: 100vh;
  position: fixed;
  inset: 0;
  z-index: 20;
  background-color: var(--main-color);
  /* background-color: rgba(2, 4, 3, 0.5); */
  overflow: hidden;
  margin: unset;
  padding: calc(var(--width-related) - 20px);
}

.nav_conatainer.active {
  display: block;
}
body.active {
  overflow: hidden;
}

.nav_content {
  width: 100%;
  height: 100%;
  border-radius: var(--width-related);
  background-color: var(--main-red);
  /* position: relative; */
  padding: 50px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;

  transition: padding 1s ease-in-out;
}
.nav_content_top {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}
.send_msg {
  background-color: transparent;
  padding: 10px 30px;
  border-radius: 50px;
  border: var(--main-color) 1px solid;
  font-size: 16px;
  color: var(--main-color);
  cursor: pointer;

  transition: padding 1s ease-in-out, background-color 0.3s ease-in-out,
    color 0.3s ease-in-out;
}
.send_msg:hover {
  background-color: var(--main-color);
  color: var(--main-red);
}

.close_button {
  background-color: var(--main-color);
  padding: 10px 70px;
  border-radius: 50px;
  border: var(--main-color) 1px solid;
  font-size: 16px;
  color: black;
  cursor: pointer;

  transition: padding 0.3s ease-in-out, color 0.3s ease-in-out,
    background-color 0.3s ease-in-out;
}

.close_button:hover {
  color: var(--main-color);
  background-color: var(--main-red);
}

.nav_content_mid {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  gap: 35px;
}

.nav_content_mid > a > img {
  width: 100%;
  transition: opacity 0.3s ease-in-out;
}

.nav_content_mid > a > img:hover {
  opacity: 0.75;
}

.nav_content_bot {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  gap: 20px;
}

.header_social_media {
  /* width: 100%; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  gap: 20px;
  font-size: 16px;
}

.header_social_media > a {
  color: var(--main-color);
  transition: opacity 0.3s ease-in-out;
}

.header_social_media > a:hover {
  text-decoration: underline;
  opacity: 0.85;
}

.header_language {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  gap: 20px;
  color: var(--main-color);
}

.header_language p:nth-child(2) {
  opacity: 0.6;
}
/* header end ============================================================================*/

/* banner start ============================================================================*/

.banner_container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  gap: 15px;
  margin-bottom: 15px;
  /* max-height: 950px; */
  transition: margin-top 0.5s ease-in-out, gap 1s ease-in-out;
}

.banner_container .blur_img_load img {
  width: 100%;
  height: 100%;
  max-height: 950px;
  /* border-radius: 88px; */
  border-radius: var(--width-related);

  object-position: center;
  object-fit: cover;

  aspect-ratio: 1;
}

.blur_img_load {
  width: 100%;
  height: 100%;
  position: relative;
  /* border-radius: 88px; */
  border-radius: var(--width-related);

  background-size: cover;
  background-position: center;
}

.blur_img_load::before {
  content: "";
  position: absolute;
  inset: 0;
  animation: pulse 2.5s infinite;
  -moz-animation: pulse 2.5s infinite;
  -o-animation: pulse 2.5s infinite;
  border-radius: var(--width-related);
}

.blur_img_load.loaded::before {
  content: unset;
}

@keyframes pulse {
  0% {
    background-color: rgba(0, 0, 0, 0);
  }
  50% {
    background-color: rgba(0, 0, 0, 0.15);
  }
  100% {
    background-color: rgba(0, 0, 0, 0);
  }
}

.blur_img_load img {
  opacity: 0;
  transition: opacity 200ms ease-in-out;
}

.blur_img_load.loaded {
  /* background-image: none !important; */
}
.blur_img_load.loaded img {
  opacity: 1;
}

.banner_element {
  width: 100%;
  height: 100%;
  /* max-height: 1000px; */
  position: relative;
}
.banner_element svg {
  width: 100%;
  height: min-content;
  position: absolute;
  z-index: 5;
  /* bottom: 40px; */
  bottom: var(--width-related);
  left: 0;
}

/* banner end ============================================================================*/

/* second banner start ============================================================================*/
.second_banner {
  width: 100%;
  height: 100%;
  height: max-content;
  /* max-height: 1000px; */
  position: relative;
}

.second_banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: var(--width-related);

  aspect-ratio: 1/0.54;
}

.second_banner > svg {
  width: 100%;
  max-width: 1390px;
  max-height: 250px;
  height: min-content;
  padding: 0 10px;
  position: absolute;
  bottom: calc(80px + var(--width-related));
  left: 50%;
  transform: translateX(-50%);
}

.second_banner_info {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 24px;

  position: absolute;
  bottom: var(--width-related);

  transition: gap 1s ease-in-out;
}

.second_banner_info span {
  background-color: var(--main-color);
  padding: 15px;

  border-radius: 100px;

  transition: font-size 1s ease, padding 1s ease;
}
.second_banner_info span:last-child {
  background-color: var(--main-red);
}
/* second banner end ============================================================================*/

/* animated banner start ============================================================================*/
@keyframes loop {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
.animated_banner {
  width: 100vw;
  height: 100%;
  max-height: 580px;
  position: relative;
  background-color: var(--main-color);
  background-image: url(/images/svg/banner_5.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  max-width: 1920px;
}

.animated_banner > .blur_img_load {
  border-radius: unset;
}
.animated_banner > .blur_img_load > img {
  width: 100%;
  height: 100%;
  max-width: 500px;
  object-fit: cover;
  object-position: center;
  aspect-ratio: 1/1.08;
}
.animated_banner > .blur_img_load {
  width: calc(100px + 26vw);
  height: 100%;
  padding: 40px 0 39px;
  max-width: 463px;
  float: right;
  aspect-ratio: 1/1.08;

  transition: padding 1s ease-in-out;
}
.moving_baner {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 0;
  z-index: 2;
  animation-name: loop;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-duration: 20s;
}

.moving_baner.second {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  position: absolute;
  bottom: 0;
  animation-direction: reverse;
}

/* animated banner end ============================================================================*/
/* gallery start ============================================================================*/

.gallery {
  text-align: center;
}

.gallery > img {
  width: 100%;
  max-width: 1105px;
  margin: 0 auto;
}
.gallery > p {
  font-size: 22px;
  margin: 70px 0;
}

.gallery_elements {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(456px, 1fr));
  gap: 10px;
}
.gallery_element {
  width: 100%;
  height: 100%;
  max-height: 610px;
  background-color: #020403;
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1;
  border-radius: var(--width-related);
  position: relative;

  padding: 5.1vw;

  transition: transform 1s, scale 1s;
}
.gallery_element .blur_img_load {
  width: 100%;
  max-width: 400px;
  height: auto;
  aspect-ratio: 1 / 1;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: unset;
}

.gallery_element img {
  width: 100%;
  height: auto;
  aspect-ratio: 1 / 1;
  position: relative;
  z-index: 1;
  object-fit: cover;
  object-position: center;

  transition: transform 1s, scale 1s;
}

.gallery_element:hover {
  transform: rotate(3deg);
  scale: 0.95;
}
.gallery_element:hover > .blur_img_load > img {
  transform: rotate(-3deg);
}
.gallery_element:nth-child(odd):hover {
  transform: rotate(-3deg);
  scale: 0.95;
}
.gallery_element:nth-child(odd):hover > .blur_img_load > img {
  transform: rotate(3deg);
}

.gallery_element .dot:nth-child(1) {
  position: absolute;
  top: var(--width-related-dots);
  left: var(--width-related-dots);
}
.gallery_element .dot:nth-child(2) {
  position: absolute;
  top: var(--width-related-dots);
  right: var(--width-related-dots);
}
.gallery_element .dot:nth-child(4) {
  position: absolute;
  bottom: var(--width-related-dots);
  left: var(--width-related-dots);
}
.gallery_element .dot:nth-child(5) {
  position: absolute;
  bottom: var(--width-related-dots);
  right: var(--width-related-dots);
}

.dot {
  width: 20px;
  height: 20px;
  background-color: var(--main-color);
  border-radius: 50%;
  z-index: 10;
}

/* gallery  end ============================================================================*/

/* about wine start ============================================================================*/

.about_wine {
  width: 100vw;
  max-width: unset;
  text-align: center;
  background-color: var(--main-red);
  padding: 140px 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about_wine_container {
  width: 100%;
  max-width: 1850px;
}

.about_wine_container > img {
  width: 100%;
  max-width: 856px;
  margin: 0 auto 100px;
}

.about_wine_info {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(611px, 1fr));
  gap: 10px;
}

.about_wine_info .about_wine_info_element:nth-child(1),
.about_wine_info .about_wine_info_element:nth-child(4) {
  padding: 7vw 5.4vw;
}

.about_wine_info_element {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: var(--main-color);
  border-radius: var(--width-related);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  aspect-ratio: 1 / 0.9;
}
.about_wine_info_element > div {
  max-width: 335px;
  text-align: start;
  font-size: 36px;
}
.about_wine_info_element > .blur_img_load {
  max-width: unset;
}
.about_wine_info_element > p {
  /* max-width: 335px; */
  max-height: 460px;
  text-align: start;
  font-size: 22px;
  overflow-x: hidden;
  overflow-y: auto;
}
.about_wine_info_element img {
  width: 100%;
  height: 100%;
  border-radius: var(--width-related);
  object-fit: cover;
}

.dot {
  width: 20px;
  height: 20px;
  background-color: var(--main-color);
  border-radius: 50%;
}
.dot_black {
  width: 20px;
  height: 20px;
  background-color: var(--main-red);
  border-radius: 50%;
}

.about_wine_info_element .dot_black:nth-child(1) {
  position: absolute;
  top: var(--width-related-dots-black);
  left: var(--width-related-dots-black);
}
.about_wine_info_element .dot_black:nth-child(2) {
  position: absolute;
  top: var(--width-related-dots-black);
  right: var(--width-related-dots-black);
}
.about_wine_info_element .dot_black:nth-child(5) {
  position: absolute;
  bottom: var(--width-related-dots-black);
  left: var(--width-related-dots-black);
}
.about_wine_info_element .dot_black:nth-child(6) {
  position: absolute;
  bottom: var(--width-related-dots-black);
  right: var(--width-related-dots-black);
}

/* about wine end ============================================================================*/

/* request info start ============================================================================*/

.request_info {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.request_info > img {
  width: 100%;
  max-width: 800px;
}
.request_info > p {
  width: 100%;
  max-width: 805px;
  text-align: center;
  font-size: 22px;
  font-weight: 400;
  margin-top: 60px;
  margin-bottom: 70px;
}

.request_info > form {
  width: 100%;
  max-width: 1850px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.request_info > form input {
  width: 100%;
  padding: 7px 10px;
  background-color: transparent;
  border: none;
  font-size: 16px;
  font-weight: 400;
  border-bottom: black 1px solid;
}

.top_inputs {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, minmax(45%, 1fr));
  gap: 10px;
}

.request_info > form > button {
  width: 100%;
  border: none;
  padding: 20px;
  border-radius: 50px;
  background-color: var(--main-red);
  color: var(--main-color);
  font-size: 20px;
  font-weight: 400;
}

/* request info end ============================================================================*/

/* footer start ============================================================================*/

#footer {
  width: 100vw;
  max-width: 1920px;
}

footer {
  width: 100%;
  height: 100%;
  max-height: 580px;
  overflow: hidden;
  position: relative;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 40px 0;
  background-color: var(--main-color);
}
footer > img {
  display: block;
  width: auto;
  height: auto;
  object-fit: cover;
  object-position: center;
}

.footer_links {
  width: 100%;
  max-width: 750px;
  padding: 0 35px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  position: relative;
  z-index: 5;
}

.footer_menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}
.footer_menu > div {
  color: var(--main-red);
  font-size: 22px;
}
.footer_menu > a {
  color: #020403;
  font-size: 18px;
}

/* footer end ============================================================================*/

/* past events start */

.body_past_events {
  background-color: #020403;
  margin-top: 150px;
}

.past_events_container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 60px;
}
.past_events_container > img {
  width: 100%;
  max-width: 1100px;
}

.past_events {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 10px;
  row-gap: 20px;
}
.past_event {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.past_event h4 {
  height: 100%;
  min-height: 42px;
  font-size: 22px;
  color: var(--main-color);
  margin-top: 14px;
  margin-bottom: 12px;
  text-align: center;

  transition: font-size 0.5s ease-in-out;
}
.past_event > p {
  font-size: 18px;
  color: var(--main-red);
  text-align: center;

  transition: font-size 0.5s ease-in-out;
}

.past_event img {
  width: 100%;
  height: auto;
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  border-radius: var(--width-related);
}
/* past events end */
